<html>

    <head>
        <title>Meu primeiro blog...</title>
    </head>

    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>
        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>A casa caiu e agora?</p>
        </div>
        <div>
            <p>published: 14.06.2014,12:14</P>
            <h2><a href="">My second post</a></h2>
            <p>Um certo dia, a beira mar, apareceu um certo galileu!</p>
        </div>
    </body>

</html>
